<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Prename:</strong>
  <%= @patient.prename %>
</p>

<p>
  <strong>Title:</strong>
  <%= @patient.title %>
</p>

<p>
  <strong>Record:</strong>
  <%= @patient.record_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Tel number:</strong>
  <%= @patient.tel_number %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
